{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline box">
                {% for item in category.product_set.all %}
                    <div class="column card is-3 ">
                        <div class="card-header">
                            <div class="card-header-icon">
                                {% if item.discounted_product %}
                                    <span class="has-background-success has-text-white py-2 px-4" style="border-radius: 10px">discount</span>
                                {% endif %}
                            </div>
                            <div class="card-header-title is-centered">
                                <a href="">{{ item.name }}</a>
                            </div>
                        </div>
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ item.image.url }}" alt="">
                            </figure>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                {% if item.discounted_product %}
                                    <span class="has-background-info has-text-white py-2 px-4 mx-1" style="border-radius: 10px;">{{ item.discounted_price }}</span>
                                {% else %}
                                    <span class="has-background-info has-text-white py-2 px-4 mx-1" style="border-radius: 10px;">{{ item.price }}</span>
                                {% endif %}
                            </div>
                            <div class="card-footer-item" >
                                <form action="{% url 'bonaapp:add_to_cart_url' item.pk %}" method="GET" style="display: flex">
                                    <input type="number" name="kol" class="input ">
                                    <button class="button is-info">buy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}